@media screen and (min-width: 390px) { 
  .App {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .container{
    display: flex;
    height: 700px;
    margin-top: 45px;
    color: white;
    background-color: rgb(39, 38, 38);
  };
  
}
@media screen and (max-width: 390px){

}